amount of jobs: "<%=@camount_of_jobs %>"<br>
amount of pages: "<%=@camount_of_pages %>"<br>
<hr><hr>
<br>

<% @cpage_stuff.each do |page| %>
  <% page.each do |job| %>
    <p>
      link: <%= job.css('.result-title')[0]["href"]%><br>
      title: <%= job.css('.result-title').text%><br>
      location: <%= (job.css('.result-hood').text).gsub(/[\(\)]/, '')%><br>
      date:  <%= (job.css('.result-date').text).gsub(/[\(\)]/, '')%><br>
    </p>

    <br>
    <hr>
    <br>
  <% end %>
<% end %>
